<h1>Questions#answer</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<!-- display the question you ask your coach as well as his answer.  -->

<p><%= @question %></p>
<p><%= @answer %></p>

<%= link_to "ask", ask_path %>